body {
	padding-top: 60px;
	padding-bottom: 40px;
	padding-left: 12px;
	padding-right: 12px;
}

#alreadySaved {
   font-size: 0.8em;
}

#chartContainer {
 	height:400px;
 	width:400px; 	
}

input {
	width: 100px;
}